/* ==============================================================================
 * PROJECT: DEPRESSION-DETECTION-USING-TWEETS
 * AUTHORS: AMEY THAKUR & MEGA SATISH
 * GITHUB (AMEY): https://github.com/Amey-Thakur
 * GITHUB (MEGA): https://github.com/Mega-Satish
 * REPOSITORY: https://github.com/Amey-Thakur/DEPRESSION-DETECTION-USING-TWEETS
 * RELEASE DATE: June 5, 2022
 * LICENSE: MIT License
 * DESCRIPTION: Global cascading style sheet (CSS) for the web interface, 
 *              providing consistent typography and structural padding.
 * ============================================================================== */

body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}